[Desktop Entry]
Encoding=UTF-8
Name=GoldDiggerCoin
Comment=GoldDiggerCoin P2P Cryptocurrency
Comment[fr]=GoldDiggerCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GoldDiggerCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/golddiggercoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/golddiggercoin128.png
MimeType=x-scheme-handler/golddiggercoin;
Categories=Office;
