#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_golddiggercoin
#build/golddiggercoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_golddiggercoin)

DEB_INSTALL_EXAMPLES_golddiggercoind += debian/examples/*
DEB_INSTALL_MANPAGES_golddiggercoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix golddiggercoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f golddiggercoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake golddiggercoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_golddiggercoin
	src/test_golddiggercoin

# Ensure wrapper is set executable
binary-post-install/golddiggercoind:
	chmod +x $(cdbs_curdestdir)usr/bin/golddiggercoind
binary-post-install/golddiggercoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/golddiggercoin-qt
